.DS_Store
.ipynb_checkpoints
__pycache__/
*.egg-info/
*.pyc
*.iml
*.xml
*.pt
.ftpconfig
.vscode

docs/_build
docs/api

data/plenoptic-test-files
data/ssim_images
data/ssim_analysis.mat
data/cat7*
data/elep*
data/cifar*

logs/

train

examples/geodesics_development.ipynb
