.DS_Store
.ipynb_checkpoints
__pycache__/
*.egg-info/
*.pyc
*.iml
*.xml
*.pt
.ftpconfig
.idea/
.vscode/

examples/data
data/plenoptic-test-files
data/ssim_images
data/ssim_analysis.mat
data/msssim_images
data/MAD_results
data/imagenet1000_clsidx_to_labels.txt

logs/
train/

docs/_build
docs/api

*.mypy_cache
