.DS_Store
.ipynb_checkpoints
*jvsc*
__pycache__/
*.egg-info/
*.pyc
*.iml
*.xml
*.pt
.ftpconfig
.idea/
.vscode/

*.npz
*.mat
*.npy

src/plenoptic/data/plenoptic-test-files
src/plenoptic/data/ssim_images
src/plenoptic/data/ssim_analysis.mat
src/plenoptic/data/msssim_images
src/plenoptic/data/MAD_results
src/plenoptic/data/imagenet1000_clsidx_to_labels.txt
src/plenoptic/data/portilla*
src/plenoptic/data/FashionMNIST
src/plenoptic/data/tid2013

logs/
train/

docs/_build
docs/api
docs/tutorials/assets

*.mypy_cache

# created automatically by setuptools.scm, don't track
src/plenoptic/version.py
