{{ name | escape | underline}}

.. currentmodule:: {{ module }}

.. note::

   This object is a :class:`torch.nn.Module`. It therefore has all the methods and attributes
   from that class, even though they are not documented here (to avoid cluttering this page).

.. autoclass:: {{ objname }}
